<div class="container">
    <h4>Hello Express-Node</h4>
    {{>news eyebrow='Experiences' titleNews='Super Header' bodyNews='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugit optio eos dignissimos aut libero ipsa atque tempore eligendi eum.' }}
</div>

